* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* סגנונות כלליים */
body {
    margin: 0;
    background-color: #282346;
    color: #333;
    background-image: url('../MEDIA/background.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    font-family: "Montserrat", serif;
}



/* סגנונות עיקריים */
.main-container {
    text-decoration: none;
    padding: 0 80px ;
    margin: 120px;
    font-Weight: 500;
    font-family: "Montserrat", serif;
}

.main-container a{
    text-decoration: none;
}

/* סטטיסטיקות משתמש */
.user-stats {
    margin-bottom: 40px;
}

.user-stats h2 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #f93f86;
    
}

.stats-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    justify-content: center;
}

.stat-card {
    width: 300px;
    height: 90px;
    background-color: #725a9f80;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: "Montserrat", serif;
}

.stat-card h3 {
    font-size: 18px;
    color: #f3fc47;
    font-weight: 400;
}

.stat-card p {
    font-size: 20px;
    color: #ffffff;
    font-Weight: 300;
    
}

.leaderboard{
    color: #ffffff;
}

.statistics-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
   
}

.statistics_button{
    background-color: #f93f86;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", serif;
}

.statistics_button:hover {
    background-color: #e47fa6;
}

/* רשת המשחקים */
.games-grid {
    margin-top: 70px;
}

.games-grid h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #f93f86;
    font-size: 25px;
    font-Weight: 500;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
    justify-content: center;
   
}


.game-card {
    display: flex;
    text-decoration: none;
    color:#2c1361;
    position: relative; /* הכרחי כדי לאפשר למיקום יחסי לפעול */
    flex-direction: column; /* Align content vertically */
    align-items: center;
}

.image-container {
    position: relative; /* הופך את הקונטיינר לנקודת יחוס */
    border-radius: 15px;
    height: 90%; /* 70% of card height reserved for the image */
    overflow: hidden;
}

.image-container img {
    width: 100%; /* מבטיח שהתמונה תהיה רספונסיבית */
    border-radius: 15px;
}

.text-overlay {
    position: absolute; /* ממקם את הטקסט מעל התמונה */
    top: 50%; /* ממרכז את הטקסט אנכית */
    left: 50%; /* ממרכז את הטקסט אופקית */
    transform: translate(-50%, -50%); /* מיישר את הנקודה המרכזית */
    color: #43166b; /* צבע טקסט */
    text-align: center; /* מרכז טקסט */
    background-color: rgba(130, 130, 130, 0.5); /* רקע חצי שקוף */
    padding: 10px;
    border-radius: 5px; /* פינות מעוגלות לטקסט */
}

.game-card.disabled {
    pointer-events: none;
}

.game-card.disabled img{
    width: 100%; /* מבטיח שהתמונה תהיה רספונסיבית */
    display: block;
    opacity: 0.3;
    border-radius: 15px;
}

.game-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

/* תגובה למובייל */
@media (max-width: 768px) {
    .user-info {
        flex-direction: column;
        gap: 10px;
    }

    .navbar h1 {
        font-size: 20px;
    }
}
